<%- include("./includes/header.ejs", {title:"Resume Form"}); %>

<form method='' action=''>

</form>


A <input> text box for the name of the Resume

A multi-select drop down menu for each of the school’s that user has attended

A multi-select drop down menu for each of the companies that user has worked for

A multi-select drop down menu for each of the skills that user has experience with

<%- include("./includes/footer.ejs"); %>
